.handle {
  width: 2rem;
  background: #888;

  *[cdkdraghandle] {
    cursor: move;
  }
}

.highlight-green {
  background: #2E2;
}

.highlight-orange {
  background: #FD8612;
}

.list-group-item {
  background: inherit;
}
